<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write message</title>
</head>
<body>
    <form method="POST" action="/chats">
        <input placeholder="enter who are you?" name="from">
        <br><br>
        <textarea placeholder="Write your message here" name="message"></textarea>
        <br><br>
        <input placeholder="Receiver's name" name="to">
        <br><br>
        <button>Submit</button>
    </form>
</body>
</html>